body {
    margin: 0px;
    overflow-x: hidden;
}

.top_buttons {
    padding: 8px;
    background-color: rgb(69, 69, 69);
    height: 54px;
    /* Total height 70px */
    overflow: scroll;
    min-width: 530px;
}

.button {
    width: 80px;
    height: 54px;
    cursor: pointer;
}

.play_pause {
    display: initial;
}

.play_pause:disabled {
    display: none;
}

.iconify {
    width: 40px;
    height: 40px;
    margin-top: -4px;
    margin-bottom: -8px;
}

.info_button {
    float: left;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.title {
    float: left;
    color: white;
    margin-top: 12px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: calc(100vh - 200px);
    overflow: scroll;
}

.info_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.info_close:hover,
.info_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.left_side {
    position: absolute;
    width: calc(100% - 200px);
    height: calc(100vh - 70px);
    overflow: scroll;
}

.left_content {
    margin: 8px;
    height: calc(100% - 16px);
}

.right_side {
    background-color: #929292;
    position: absolute;
    margin-left: calc(100% - 200px);
    width: 200px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.right_content {
    height: 100%;
}

.under_construction {
    pointer-events: none;
    opacity: 0.2;
}

.input-stepper {
    text-align-last: center;
}

.grid_x_stepper, .grid_y_stepper {
    padding: 1px;
}

.grid_x_input, .grid_y_input {
    width: 67px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px;
    border: 1px solid #ccc;
    border-top: none;
    height: calc(100vh - 70px - 52px - 12px);
    overflow: scroll;
}